<h1>Dashboard</h1>

<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="" >Logout</a></li>
  </ul>
sasaa


<button type="button" class="btn btn-block">
  <i class="fa fa-google" aria-hidden="true"></i>
  Login with Google
</button>
