<div class="container" >
    <app-modal></app-modal>
    <div >
        <div class="row bg-primary">
            <h4 class="px-2">Approval Form</h4>
            <hr>
        </div>
        <form [formGroup]="heroForm" *ngIf ="!showInformation && reqInfo != undefined" >
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                    Click this  <a routerLink = "/disp/{{reqInfo.id}}" target="_blank"> {{reqInfo.requestNo}}</a> to show the information of the request.    
                    </div>
                </div>
            </div>
           
           
           

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="posted">Approve this request?</label>
                    </div>
                    <div class="col-md-1">
                        <label>
                            <input type="radio" value="Yes" formControlName="status" class="form-option">
                            <span class="label-option">Yes</span>
                        </label>

                    </div>
                    <div class="col-md-1">  
                        <label>
                            <input type="radio" value="No" formControlName="status" class="form-option" >
                                <span class="label-option">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><label for="comment">Comment </label></div>
                    <div class="col-md-8"> <textarea class="form-control" width="100%" cols="100%" rows="5"  formControlName="comment" ></textarea>
                    </div>
                </div>
            </div> 
            
            <div class="form-group pt-50">
                <div class="row">  
                    <button type="button" class="btn btn-info" [disabled]="!heroForm.valid" (click) = "OnSubmit()">Submit</button> 
                    <button type="button" class="btn btn-info" name="cancel" (click)='onBack()'>Cancel</button>
                </div>
            </div> 

        </form>

        <div *ngIf ="showInformation">
            <div class="form-group center-text">
                <div class= "row">
                    <div class="col-md-12">
                        <h3>{{information}}</h3>
                    </div>  
                </div>
            </div> 
            <div class="form-group">
                <div class= "row">
                    <button type="submit" class="btn btn-success" name="cancel" (click)='onBack()'>Back</button>
                </div>
            </div> 
        </div>


       

    </div>
</div>