<div class="container">
    <app-modal></app-modal>
    <form [formGroup]="heroForm">
        <div class="form-group" *ngIf = "heroForm.value.requestNo != ''">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Request No</label>
                </div>
                <div class="col-md-4" >
                   {{heroForm.value.requestNo }}
                </div>
            </div>
        </div>        
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Entity</label>
                </div>
                <div class="col-md-4">
                        {{heroForm.value.entity }}
                   
                </div>
                <div class="col-md-2">
                    <label for="date">New/Amendment</label>
                </div>
                <div class="col-md-4">
                    {{heroForm.value.requestType }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Requestor</label>
                </div>
                <div class="col-md-4">
                    {{heroForm.value.requestor }}
                </div>
                <div class="col-md-2">
                    <label for="date">Supplier Type</label>
                </div>
                <div class="col-md-4">
                    {{heroForm.value.supplierType }}
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" >
                    <label for="date">Requestor Date</label>
                </div>
                <div class="col-md-4">
                    {{heroForm.value.added }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2" >
                    &nbsp;
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" >
                    <label for="date">Status</label>
                </div>
                <div class="col-md-10">
                    {{heroForm.value.status }}
                </div>
            </div>
        </div>


       
        <div class="form-group"  *ngIf = "heroForm.value.status == 'Completed' && isAdmin">
            <div class="row bg-primary">
                <h4 class="px-2">Update for PSS Personnel</h4>
                <hr>
            </div>
        </div>
       
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" *ngIf = "heroForm.value.status == 'Completed' && isAdmin">
                    <label for="date">Supplier Code</label>
                </div>
                <div class="col-md-2" *ngIf = "heroForm.value.status == 'Completed'  && isAdmin">
                        <input type ="text" class="form-control" formControlName="supplier">
                </div>
               
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2" *ngIf = "heroForm.value.status == 'Completed' && isAdmin">
                    <label for="date">Attachement/s</label>
                </div>
                <div class="col-md-10" *ngIf = "heroForm.value.status == 'Completed'  && isAdmin">
                    <div class="form-group">
                        <div class="row" *ngIf ="!withattachedFile">
                            <div class="col-md-12"> 
                                <input class="form-control"  #attachments type="file" (change)="onFileChange($event)" #fileInput multiple="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">   
                        <div *ngFor="let selected of listOfFiles;let index = index">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{selected}}
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-danger" (click)="removeSelectedFile(index)">delete</button>
                                    </div>
                                </div> 
                            </div>    
                        </div>
                       
                        <div *ngFor="let selected of listOfFilesSavedCompleted;let index = index" >
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="divclick" (click)="downloadAttachment(selected.filename,selected.itemID)">   {{selected.filename}}</div>
                                        </div>
                                        <div class="col-md-2" *ngIf = "!submittedApproval">
                                            <button class="btn btn-danger" (click)="deleteAttachedFileSaved(index,selected.filename)">[remove]</button>
                                        </div>
                                    </div> 
                                </div>    
                            </div>   
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12" *ngIf = "heroForm.value.status == 'Completed'  && isAdmin">
                        <button type="button" class="btn btn-info" name="update" (click)='onUpdateSupplier()'>Save</button>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12" *ngIf = "heroForm.value.status == 'Completed'  && isAdmin">
                         <hr>
                    </div>
                </div>
        </div>

        

        <div class="form-group" *ngIf = "heroForm.value.status == 'Pending' || isAdmin">
            <div class="row">
                <div class="col-md-12" >
                        <button type="button" class="btn btn-info" name="update" routerLink = "/entry/{{heroForm.value.id}}">Update Request Information</button>
                </div>
            </div>
        </div>
            

           
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section A - Supplier General Information</h4>
                <hr>
            </div>
        </div>

       
        <div class="form-group">
            <div class="row">
                <label class="switch">
                    <input type="checkbox" (click) = "toggleA($event)" >
                    <span class="slider round"></span>
                </label>
            </div>
        </div> 

        <div *ngIf = "showInfoA">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="date">Supplier Name </label>
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.name }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="date">Bank Account Name (If Different)</label>
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.bankAccountName }}
                        </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="date">Attention PO To</label>
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.attention }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="date">Supplier Address </label>
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.address1 }}
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.address2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        {{heroForm.value.address3 }}
                        
                    </div>
                </div>
            </div>
    
    
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >City</label>
                    </div>
                    <div class="col-md-6">
                        <label >Postal Code</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.city }}
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.post }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >State / Province</label>
                    </div>
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.state }}
                    </div>
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Country</label>
                    </div>
                    <div class="col-md-6">
                        <label >2 Digit Country Code</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.country }}
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.countryCode }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Primary Phone Number</label>
                    </div>
                    <div class="col-md-6">
                        <label >Secondary Phone Number</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.telephone1 }}
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.telephone2 }}
                    </div>
                </div>
            </div>
    
            
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Fax Number</label>
                    </div>
                    <div class="col-md-6">
                        <label >Mobile Phone Number </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.faxTelex1 }}
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.mobileNumber }}
                        </div>
                </div>
            </div>
    
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Nature of Transaction to the Supplier </label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.natureOfTransaction }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Credit Term </label>
                    </div>
                    <div class="col-md-6">
                        <label >Credit Term Code
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{heroForm.value.creditTerm }}
                        
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.crTerms }}
                    </div>
                </div>
            </div>
    
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Purchasing Account	</label>
                    </div>
                    <div class="col-md-1">
                        {{heroForm.value.purAcct }}
                    
                    </div>
                    <div class="col-md-1">
                        {{heroForm.value.sub }}
                        </div>
                        <div class="col-md-1">
                        {{heroForm.value.cc }}
                        </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >AP Account	</label>
                    </div>
                    <div class="col-md-1">
                        {{heroForm.value.apAccount }}
                    </div>
                    <div class="col-md-1">
                        {{heroForm.value.apSub }}
                        </div>
                        <div class="col-md-1">
                        {{heroForm.value.apCC }}
                        </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row" *ngIf ="!withattachedFile">
                    <div class="col-md-6"><label for="attachFile">Attached Supporting Document</label></div>
                    <div class="col-md-6"> 
                        <div *ngFor="let selected of listOfFilesSaved;let index = index" >
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="divclick" (click)="downloadAttachment(selected.filename,selected.itemID)">   {{selected.filename}}</div>
                                        </div>
                                    </div> 
                                </div>    
                            </div>  
                    </div>
                </div>
            </div>
                
        </div>

        
    
    
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section B - Tax Data</h4>
                <hr>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="switch">
                    <input type="checkbox" (click) = "toggleB($event)" >
                    <span class="slider round"></span>
                </label>
            </div>
        </div> 

        <div *ngIf = "showInfoB">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Taxable </label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.taxable }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Tax Zone	 </label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.taxZone }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Tax Class	 </label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.taxClass }}
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Tax Usage	 </label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.taxUsage }}
                    </div>
                </div>
            </div>
    
        </div>
        

        
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section C - Bank Account Details</h4>
                <hr>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="switch">
                    <input type="checkbox" (click) = "toggleC($event)" >
                    <span class="slider round"></span>
                </label>
            </div>
        </div> 

        <div *ngIf = "showInfoC">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label >Bank Name	</label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.bankName }}                   
                    </div>
    
                    <div class="col-md-2">
                        <label >Bank Code</label>
                    </div>
                    <div class="col-md-2">
                        {{heroForm.value.bankCode }} 
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label >Branch Code/ Swift Address	</label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.branch }} 
                    </div>
    
                    <div class="col-md-2">
                        <label >Currency</label>
                    </div>
                    <div class="col-md-2">
                        {{heroForm.value.currency }} 
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label >Bank Account Number	</label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.bankAccount }} 
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Email Address(s) for payment advice	</label>
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.emailAddress1 }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-6">
                        {{heroForm.value.emailAddress2 }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-6">
                            {{heroForm.value.emailAddress3 }} 
                    </div>
                </div>
            </div>            
        </div>   
    
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section D - Approval</h4>
                <hr>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="table-responsive"> 
                    <table class='table' >
                        <thead>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Action Done</th>
                            <th>Date</th>
                            </thead>
                        <tbody>
                            <tr>
                                <td>Requestor</td>
                                <td>{{heroForm.value.requestor}}</td>
                                <td>Requested</td>
                                <td>{{heroForm.value.added}}</td> 
                            </tr>
                            <tr>
                                <td>Finance Manager</td>
                                <td>{{heroForm.value.financeManagerAssigned}}</td>
                                <td>{{heroForm.value.tosFinanceManagerStatus}}</td>
                                <td>{{heroForm.value.tosFinanceManagerDate}}</td> 
                            </tr>
                            <tr *ngIf = "heroForm.value.supplierType == 'Strategic Partner'">
                                    <td>AP Director</td>
                                    <td>{{heroForm.value.apDirectorAssigned}}</td>
                                    <td>{{heroForm.value.apDirectorStatus}}</td>
                                    <td>{{heroForm.value.apDirectorDate}}</td> 
                            </tr>
                               
                            <tr>
                                <td>PSS Personnel</td>
                                <td>{{heroForm.value.pssPersonnelAssigned}}</td>
                                <td>{{heroForm.value.pssPersonnelStatus}}</td>
                                <td>{{heroForm.value.pssPersonnelDate}}</td> 
                            </tr>
                            <tr>
                                <td>FSS AP TL</td>
                                <td>{{heroForm.value.fssAPTL}}</td>
                                <td>{{heroForm.value.fssAPTLStatus}}</td>
                                <td>{{heroForm.value.fssAPTLDateApproval}}</td> 
                            </tr>

                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

           
        <div class="form-group">
            <div class="row">
                 <div class="col-md-2">
                    <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
            
                </div>
            </div>
        </div>
   
    </form>

    
</div>