<div class="container">
    <app-modal></app-modal>
    <form [formGroup]="heroForm">
        <div class="form-group" *ngIf = "heroForm.value.requestNo != ''">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Request No</label>
                </div>
                <div class="col-md-4" >
                   {{heroForm.value.requestNo }}
                </div>
            </div>
        </div>        
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Entity</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" (change) = "getEntityInfo($event)" formControlName="entity">
                        <option value =""> </option>
                        <option value ="TOIPL">TOIPL</option>
                        <option value ="TOPL">TOPL</option>
                        <option value ="TOSPL">TOSPL </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="date">New/Amendment</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" formControlName="requestType">
                        <option value =""> </option>
                        <option value ="New Supplier">New Supplier</option>
                        <option value ="Amendment">Amendment</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Requestor</label>
                </div>
                <div class="col-md-4">
                   <input type="text" class="form-control" formControlName="requestor"  [attr.disabled] = "true"> 
                </div>
                <div class="col-md-2">
                    <label for="date">Supplier Type</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" formControlName="supplierType">
                        <option value =""> </option>
                        <option value ="Regular Vendor">Regular Vendor</option>
                        <option value ="Strategic Partner">Strategic Partner</option>
                        <option value ="Employee">Employee</option>
                        <option value ="Interco">Interco</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" >
                    <label for="date">Requestor Date</label>
                </div>
                <div class="col-md-4">
                   <input type="date" class="form-control" formControlName="added">
                </div>
            </div>
        </div>

      
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section A - Supplier General Information</h4>
                <hr>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="date">Supplier Name </label>
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" placeholder="(max length 28 characters)" maxlength="28"  formControlName="name">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="date">Bank Account Name (If Different)</label>
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" placeholder="(max length 50 characters)" maxlength="50"  formControlName="bankAccountName">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="date">Attention PO To</label>
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" placeholder="(max length 24 characters)" maxlength="24" formControlName="attention">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="date">Supplier Address </label>
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" formControlName="address1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" formControlName="address2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control" formControlName="address3">
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >City</label>
                </div>
                <div class="col-md-6">
                    <label >Postal Code</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                   <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="post">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >State / Province</label>
                </div>
                <div class="col-md-6">
                   &nbsp;
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                   <input type="text" class="form-control" formControlName="state">
                </div>
                <div class="col-md-6">
                   &nbsp;
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Country</label>
                </div>
                <div class="col-md-6">
                    <label >2 Digit Country Code</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" formControlName="country" (change) = "getCountryCode($event)">
                        <option *ngFor="let p of countryList" [value]="p.country_name">{{p.country_name}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input type="text" [attr.disabled] = "true" class="form-control" formControlName="countryCode">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Primary Phone Number</label>
                </div>
                <div class="col-md-6">
                    <label >Secondary Phone Number</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                   <input type="text" class="form-control" formControlName="telephone1">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="telephone2">
                </div>
            </div>
        </div>

        
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Fax Number</label>
                </div>
                <div class="col-md-6">
                    <label >Mobile Phone Number </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                   <input type="text" class="form-control" formControlName="faxTelex1">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="mobileNumber">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Nature of Transaction to the Supplier <span class="required"> *</span> </label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" width="100%" cols="100%" rows="5"  formControlName="natureOfTransaction"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Credit Term </label>
                </div>
                <div class="col-md-6">
                    <label >Credit Term Code
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" formControlName="creditTerm" (change) = "getCreditTermCode($event)">
                        <option value = ""></option>
                        <option *ngFor="let p of creditTermList" [value]="p.description">{{p.description}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input type="text"  [attr.disabled] = "true" class="form-control" formControlName="crTerms" >
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Purchasing Account	</label>
                </div>
                <div class="col-md-1">
                   <input type="text" class="form-control" formControlName="purAcct">
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" formControlName="sub">
                 </div>
                 <div class="col-md-1">
                    <input type="text" class="form-control" formControlName="cc">
                 </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >AP Account	</label>
                </div>
                <div class="col-md-1">
                   <input type="text" class="form-control" formControlName="apAccount">
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" formControlName="apSub">
                 </div>
                 <div class="col-md-1">
                    <input type="text" class="form-control" formControlName="apCC">
                 </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row" *ngIf ="!withattachedFile">
                <div class="col-md-4"><label for="attachFile">Attached Supporting Document <span class="required">*</span></label></div>
                <div class="col-md-8"> 
                    <input class="form-control"  #attachments type="file" (change)="onFileChange($event)" #fileInput multiple="true">
                </div>
            </div>
        </div>
        <div class="form-group">   
            <div *ngFor="let selected of listOfFiles;let index = index">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            {{selected}}
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" (click)="removeSelectedFile(index)">delete</button>
                        </div>
                    </div> 
                </div>    
            </div>
           
            <div *ngFor="let selected of listOfFilesSaved;let index = index" >
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="divclick" (click)="downloadAttachment(selected.filename,selected.itemID)">   {{selected.filename}}</div>
                            </div>
                            <div class="col-md-2" *ngIf = "!submittedApproval">
                                <button class="btn btn-danger" (click)="deleteAttachedFileSaved(index,selected.filename)">[remove]</button>
                            </div>
                        </div> 
                    </div>    
                </div>   
        </div>


     
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section B - Tax Data</h4>
                <hr>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Taxable </label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" formControlName="taxable" (change) = 'getTaxableInfo($event)'>
                        <option value =""> </option>
                        <option value ="Yes">Yes</option>
                        <option value ="No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Tax Zone	 </label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" formControlName="taxZone">
                        <option value =""> </option>
                        <option value ="AUS">AUS</option>
                        <option value ="PH">PH</option>
                        <option value ="SG">SG</option>
                        <option value ="US">US</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Tax Class	 </label>
                </div>
                <div class="col-md-6">
                    <select class="form-control"  formControlName="taxClass">
                        <option value =""> </option>
                        <option value ="00 - NON-TAXABLE">00 - NON-TAXABLE</option>
                        <option value ="GST - 10%">GST - 10%</option>
                        <option value ="GST - 7%">GST - 7%</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Tax Usage	 </label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" formControlName="taxUsage">
                        <option value =""> </option>
                        <option value ="00 - NON-TAXABLE">00 - NON-TAXABLE</option>
                        <option value ="GST">GST</option>
                    </select>
                </div>
            </div>
        </div>


        
        <div class="form-group">
            <div class="row bg-primary">
                <h4 class="px-2">Section C - Bank Account Details</h4>
                <hr>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label >Bank Name	</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" formControlName="bankName"  (change) = 'getBankCode($event)'>
                            <option value = ""></option>
                            <option *ngFor="let p of bankList" [value]="p.bankName">{{p.bankName}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label >Bank Code</label>
                </div>
                <div class="col-md-2">
                    <input type="text"  [attr.disabled] = "true" class="form-control" formControlName="bankCode">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label >Branch Code/ Swift Address	</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="branch">
                </div>

                <div class="col-md-2">
                    <label >Currency</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control" formControlName="currency">
                        <option value =""> </option>
                        <option value ="AUD">AUD</option>
                        <option value ="CNY">CNY</option>
                        <option value ="EUR">EUR</option>
                        <option value ="GBP">GBP</option>
                        <option value ="HKD">HKD</option>
                        <option value ="KWD">KWD</option>
                        <option value ="MAD">MAD</option>
                        <option value ="NZD">NZD</option>
                        <option value ="RUB">RUB</option>
                        <option value ="SGD">SGD</option>
                        <option value ="TWD">TWD</option>
                        <option value ="USD">USD</option>
                        <option value ="ZAR">ZAR</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label >Bank Account Number	</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="bankAccount">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label >Email Address(s) for payment advice	</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="emailAddress1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                   &nbsp;
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="emailAddress2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="emailAddress3">
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf = "heroForm.value['status'] != 'Completed'">
            <div class="row">
                <div class="col-md-2" *ngIf = "!paramIsprocess">
                        <button type="button" [disabled]="!heroForm.valid || !attachmentValidation" class="btn btn-info" name="ok"
                            (click)="onOk('true')">Submit</button>
                </div>
                <div class="col-md-2"  *ngIf = "!paramIsprocess">  
                    <button type="button" [disabled]="heroForm.value.submit == 'true'" class="btn btn-info" name="ok"
                            (click)="onOk('false')">Save draft</button>
                 </div>
                 <div class="col-md-2" *ngIf="param > 0 && heroForm.value['status'] == 'In Progress' && !paramIsprocess">
                        <button type="button"  class="btn btn-danger" name="delete" (click)='onDelete()'>Delete</button>
                 </div>
                 <div class="col-md-2"  *ngIf = "paramIsprocess">  
                        <button type="button" class="btn btn-info" name="ok"
                                (click)="onProcess()">Process</button>
                </div>
                 <div class="col-md-2">
                    <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
            
                </div>
            </div>
        </div>


        <div class="form-group" *ngIf = "heroForm.value['status'] == 'Completed'">
            <div class="row">
               
                <div class="col-md-2"  *ngIf = "isAdmin">  
                    <button type="button" class="btn btn-info" name="ok"
                            (click)="onOk('false')">Save</button>
                 </div>
                
                 <div class="col-md-2">
                    <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
                </div>
            </div>
        </div>
   
    </form>

    
</div>