<div class="container">
    <app-modal></app-modal>
    <form [formGroup]="heroForm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="dateStarted">Date Started</label>
                </div>
                <div class="col-md-4">
                    <input type="date" name="dateStarted" class="form-control" formControlName="dateStarted" />
                </div>
                <div class="col-md-2">
                        <label for="DateFinished">Date Finished</label>
                </div>
                <div class="col-md-4">
                    <input type="date" name="dateFinished" class="form-control" formControlName="dateFinished" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
               
                <div class="col-md-2">
                    <label for="date">Action Taken / Remarks <span class="required">*</span> </label>
                </div>
                <div class="col-md-10">
                        <textarea class="form-control" width="100%" cols="100%" rows="5"
                        formControlName="actionTaken"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf = "displayAccomplishby">
            <div class="row">
                <div class="col-md-2">
                    <label for="date">Accomplishment By:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" name="accomplishBy" class="form-control" formControlName="accomplishmentByName" />
                </div>
            </div>
        </div>

        <div class="form-group right-align">
            <div>
                <button type="button" [disabled]="!(heroForm.valid) || isAlreadyAccomplish" class="btn btn-info" name="ok"
                    (click)='onOk()'>OK</button>
                <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
             </div>
        </div>
    </form>
</div>