<div class="container">
    <app-modal></app-modal>
    <div class="row">
        <h2>Vendor List</h2>
        <br />
    </div>
    <div class="row">
        <hr />
    </div>

    <div class="form-group">
        <div class="row">
            <button type="submit" class="btn btn-info" (click)="newItem()">New </button>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <br />
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-3"><strong>Search :</strong> <small> Request No</small> </div>
            <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]='listFilter' />
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="table-responsive">
                <table class='table' *ngIf='items && items.length'>
                    <thead>
                        <th></th>
                        <th>Request No</th>
                        <th>Supplier</th>
                        <th>Entity</th>
                        <th>Active</th>
                        <th>Added</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Address 3</th>
                        <th>City</th>
                        <th>State</th>
                      
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }'>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-primary" (click)="btnRoute(item.id)"
                                            name="view">View</button>
                                        </td>
                                    </tr>
                                </table>
                               
                              
                            </td>
                          
                            <td>{{item.requestNo}}</td>
                            <td>{{item.supplier}}</td>
                            <td>{{item.entity}}</td>
                            <td>{{item.active}}</td>
                            <td>{{item.added}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.address1}}</td>
                            <td>{{item.address2}}</td>
                            <td>{{item.address3}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.state}}</td>
                            
                        </tr>

                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
        </div>

    </div>

</div>