/* You can add global styles to this file, and also import other style files */

body {
  font-family: tahoma, arial;
}

.container{
  padding: 0px 20px;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
  }

  .row h4{
    padding-left: 10px;

  }
  
  .column {
    flex: 50%;
  }

  .column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  .btn {
    padding: 6px 37px;
    margin-right: 15px;
  }

  .pt-50{
    padding-top: 50px;
  }

  .mat-form-field-label-wrapper {
    font-size: smaller;
    position: initial !important;
  }
  
  .mat-form-field{
    width: 100%;
  }
  
  .mat-input-element{
    border-left: none !important;
      border-bottom: 1px solid !important;;
  }

  .username{
      font-weight:bold;
  }

  .email{
    color: gray;
  }

  .cdk-overlay-pane,
  .cdk{
    width: 480px !important;
    pointer-events: auto !important;
    position: relative !important;
  }
  
  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    background-color: #ece8f1;
    border: 1px solid;
  }

  .ngx-pagination{
    background-color: #d2caca;
  }


  .slarn-autocomplete-container{
    margin-top:-4px !important;
  }
  .toggle-suggestions-display{
    height: 28px;
  }

  .toggle-suggestions-display{
    display: none;
  }

  .table-responsive .table th{
    border: 1px solid;
    padding: 0px 5px;
  }

  .mat-input-element {
    border-bottom: none !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-color: #fff!important;
    background-image: none!important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
  }

  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    background-color: #f7f7f7;
  }

  .cdk-overlay-pane, .cdk {
    width: 400px !important;
  }



  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    
    
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 27px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
  
  #navbar{
    background-color: black;
  }

  .nav>li>a:focus, .nav>li>a:hover{
    text-decoration: none;
    background-color: transparent !important;
  }

  .divclick{
    color:blue;
    cursor: pointer;
    
  }
  .details{
    width: 80%;
    margin: 0 auto;
  }
  .details h3{
    text-align: center;
  }
  .center{
    text-align: center;
  }


  @media (min-width: 1200px){
    .container {
        width: 1252px;
    }
  }